// Colors

// Primary

  $desaturated-red: hsl(0, 36%, 70%);
  $soft-red: hsl(0, 93%, 68%);

// ### Neutral

  $dark-grayish-red: hsl(0, 6%, 24%);
  $bg-main: hsl(12, 71%, 99%);

// ### Gradients

// - Linear, 135deg, from hsl(0, 0%, 100%), to hsl(0, 100%, 98%);
// - Linear, 135deg, from hsl(0, 80%, 86%), to hsl(0, 74%, 74%);

@mixin desktop {
  @media (min-width: 768px) {
    @content;
  }
}

header {
  padding: 1.4rem 1.5rem;

  @include desktop {
    display: none;
  }

  img {
    width: 100px;
    height: 22px;
  }
}

main {
  min-height: 100vh;
  text-align: center;

  @include desktop {
    display: flex;
    flex-direction: row-reverse;
    text-align: left;
    gap: 2rem;
  }

  .hero-mobile {
    width: 100%;
    height: 300px;

    @include desktop {
      display: none;
    }
  }

  .hero-desktop {
    display: none;

    @include desktop {
      display: block;
      width: 100%;
      height: 100vh;
      min-width: 40vw;
    }
  }


  .container {
    padding: 3rem 0 2rem 0;

    @include desktop(){
      width: 50%;
      display: flex;
      align-items: center;
      flex-direction: column;
      height: 100vh;
      padding: 3rem 8rem 0 8rem;
      gap: 7rem;
    }

    .logo-desktop-container {

      width: 100%;

      .desktop-logo {
        display: none;
  
        @include desktop {
          display: block;
          width: 170px;
          height: 40px;
        }
      }
    }


    h1 {
      padding: 0rem 4rem;
      font-size: 3rem;
      text-transform: uppercase;
      letter-spacing: 8px;
      font-weight: 300;
      color: $desaturated-red;
      margin-bottom: 1.52rem;
      strong {
        font-weight: 400;
        color: #000;
      }

      @include desktop {
        font-size: 4rem;
        padding: 0;
      }
    }

    p {
      color: $desaturated-red;
      padding: 0 2rem ;
      margin-bottom: 1.52rem;
      line-height: 20px;

      @include desktop {
        padding: 0 8rem 0 0;
        line-height: 33px;
      }
    }

    form {

      .input-container {
        position: relative;

        .email-error {
          border: 2px solid $soft-red;
        }

        input {
          font-family: 'Josefin Sans', sans-serif;
          width: 75%;
          border: 1px solid $desaturated-red;
          border-radius: 40px;
          padding: 1rem 0;
          padding-left: 2rem;
        
  
          &::placeholder {
            font-weight: 400;
            color: $desaturated-red;
            font-family: 'Josefin Sans', sans-serif;
          }
        }

        button {
          border: none;
          position: absolute;
          background: linear-gradient(135deg, hsl(0, 80%, 86%), hsl(0, 74%, 74%));
          right: 8.6%;
          top: -1%;
          padding: 0.8rem 2.4rem;
          border-radius: 40px;
          transition: .4s ease-in-out;
          box-shadow: 3px 3px 2px 1px rgba(0, 0, 0, 0.6);

          &:hover {
            cursor: pointer;
            opacity: .4 ;
          }

          @include desktop {
            right: 18.8%;
          }
        }

        .error-icon {
          position: absolute;
          right: 36%;
          top: 19%;
        }

        .input-error {
          font-size: 14px;
          color: $soft-red;
          padding-left: 2rem;
          margin-top: .5rem;
        }
      }
      

    }
  }

}